<label>{{#str}} unsupportedformat, local_edwiserreports,  {{/str}}: <strong>{{format}}</strong></label>
<br>
<label>{{#str}} supportedformats, local_edwiserreports {{/str}}:</label>
<ol>
    {{#formats}}
        <li>{{.}}</li>
    {{/formats}}
</ol>
