.path-mod-peerreview .collapsibleregion {
    margin-bottom: 0.75em;
}

.path-mod-peerreview .collapsibleregioncaption {
    font-weight: bold;
    font-size: 120%;
}

.path-mod-peerreview div.singlebutton {
    text-align: center;
    margin: 0.75em auto;
}

.path-mod-peerreview #peerreview-viewlet-assignedassessments div.singlebutton,
.path-mod-peerreview #peerreview-viewlet-allexamples div.singlebutton,
.path-mod-peerreview #peerreview-viewlet-examples div.singlebutton {
    text-align: left;
}

.path-mod-peerreview .groupwidget {
    text-align: center;
    margin: 0.75em auto;
}

.path-mod-peerreview .perpagewidget {
    text-align: center;
    margin: 0.75em auto;
}

/**
 * Submission - one line summary display
 */
.path-mod-peerreview .submission-summary {
    position: relative;
    margin-bottom: 10px;
}

.path-mod-peerreview .submission-summary .title,
.path-mod-peerreview .submission-summary .author,
.path-mod-peerreview .submission-summary .author .fullname,
.path-mod-peerreview .submission-summary .author .picture {
    display: inline;
}

.path-mod-peerreview .submission-summary .title,
.path-mod-peerreview .submission-summary .userdate,
.path-mod-peerreview .submission-summary .grade-status {
    margin: 0 0 0 40px;
}

.path-mod-peerreview .submission-summary .author {
    margin-left: 1ex;
}

.path-mod-peerreview .submission-summary.anonymous .title,
.path-mod-peerreview .submission-summary.anonymous .author,
.path-mod-peerreview .submission-summary.anonymous .userdate,
.path-mod-peerreview .submission-summary.anonymous .grade-status {
    margin: 0 0 0 5px;
}

.path-mod-peerreview .submission-summary .userdate {
    font-size: x-small;
    color: #333;
}

.path-mod-peerreview .submission-summary .userdate span {
    font-style: italic;
}

.path-mod-peerreview .submission-summary .author .picture {
    position: absolute;
    top: 0;
    left: 0;
}

/**
 * Submission - full display
 */
.path-mod-peerreview .submission-full {
    border: 1px solid #ddd;
    margin: 0 0 1em 0;
}

.path-mod-peerreview .submission-full .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 67px;
}

.path-mod-peerreview .submission-full .header .title,
.path-mod-peerreview .submission-full .header .author,
.path-mod-peerreview .submission-full .header .userdate {
    margin: 0 0 0 80px;
}

.path-mod-peerreview .submission-full.anonymous .header .title,
.path-mod-peerreview .submission-full.anonymous .header .author,
.path-mod-peerreview .submission-full.anonymous .header .userdate {
    margin: 0 0 0 5px;
}

.path-mod-peerreview .submission-full .header .userdate.created {
    padding-right: 10px;
}

.path-mod-peerreview .submission-full .header .userdate.modified {
    padding-left: 10px;
    margin-left: 0;
    border-left: 1px solid #000;
}

.path-mod-peerreview .submission-full .header .userdate {
    font-size: x-small;
    color: #333;
    display: inline;
}

.path-mod-peerreview .submission-full .header .userdate span {
    font-style: italic;
}

.path-mod-peerreview .submission-full .header .author .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}

.path-mod-peerreview .submission-full .content,
.path-mod-peerreview .submission-full .attachments {
    padding: 5px 10px;
}

.path-mod-peerreview .submission-full .attachments .files img.icon {
    margin-right: 5px;
}

.path-mod-peerreview .submission-full .attachments .images div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

/**
 * Example submission - summary display
 */
.path-mod-peerreview .submission-summary.example .title,
.path-mod-peerreview .submission-summary.example .userdate {
    margin: 0 0 0 0;
}

/**
 * Example submission - full display
 */
.path-mod-peerreview .submission-full.example .header {
    min-height: 0;
}

.path-mod-peerreview .submission-full.example .header .title {
    margin: 0 0 0 0;
}

/**
 * Elements generated by the peerreview renderer
 */
.path-mod-peerreview .message {
    padding: 5px 5em 5px 15px;
    margin: 0 auto 20px auto;
    width: 100%;
    font-size: 80%;
    position: relative;
}

.path-mod-peerreview .message .singlebutton {
    text-align: left;
    margin: 0;
}

.path-mod-peerreview .message.ok {
    color: #547c22;
    background-color: #e7f1c3;
}

.path-mod-peerreview .message.error {
    color: #dd0221;
    background-color: #ffd3d9;
}

.path-mod-peerreview .message.info {
    color: #1666a9;
    background-color: #d2ebff;
}

/**
 * Allocators
 */

.path-mod-peerreview .allocation-init-results {
    margin: 10px auto;
    width: 100%;
    font-size: 80%;
}

.path-mod-peerreview .allocation-init-results .indent {
    margin-left: 20px;
}

.path-mod-peerreview .allocation-init-results .ok {
    color: #547c22;
    background-color: #e7f1c3;
}

.path-mod-peerreview .allocation-init-results .error {
    color: #dd0221;
    background-color: #ffd3d9;
}

.path-mod-peerreview .allocation-init-results .info {
    color: #1666a9;
    background-color: #d2ebff;
}

.path-mod-peerreview .allocation-init-results .debug {
    color: black;
    background-color: #ddd;
}

/**
 * User plan
 */
.path-mod-peerreview .userplan {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}

.path-mod-peerreview .userplan dt {
    vertical-align: bottom;
    white-space: normal;
    color: #999;
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.path-mod-peerreview .userplan dt.active {
    vertical-align: top;
    color: black;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-top: 0;
    background: #e7f1c3;
}

.path-mod-peerreview .userplan dt.active .phasetitle {
    font-size: 140%;
}

.path-mod-peerreview .userplan dl {
    width: 20%;
    float: left;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .path-mod-peerreview .userplan {
        border-right: none;
        border-top: none;
    }

    .path-mod-peerreview .userplan dl {
        width: 102%;
        border-right: none;
    }

    .path-mod-peerreview .userplan dt {
        float: left;
        width: 30%;
        border-bottom: none;
        border-top: 1px solid #ddd;
    }
    .path-mod-peerreview .userplan dt.active {
        border: none;
    }

    .path-mod-peerreview .userplan dd {
        float: left;
        width: 65%;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
    }
}

@media only screen and (max-width: 420px) {
    .path-mod-peerreview .userplan {
        border-bottom: none;
    }

    .path-mod-peerreview .userplan dt {
        float: left;
        width: 70%;
        border-bottom: none;
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        margin: 0;
        padding: 5px;
    }

    .path-mod-peerreview .userplan dd {
        float: left;
        width: 70%;
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}

.path-mod-peerreview .userplan dd {
    vertical-align: top;
    border-right: 1px solid #ddd;
    background-color: #f5f5f5;
    margin: 0;
    min-height: 180px;
    padding: 5px;
}

.path-mod-peerreview .userplan dd,
.path-mod-peerreview .userplan dd a,
.path-mod-peerreview .userplan dd a:link,
.path-mod-peerreview .userplan dd a:hover,
.path-mod-peerreview .userplan dd a:visited,
.path-mod-peerreview .userplan dd a:active {
    color: #999;
}

.path-mod-peerreview .userplan dd.active,
.path-mod-peerreview .userplan dd.active a,
.path-mod-peerreview .userplan dd.active a:link,
.path-mod-peerreview .userplan dd.active a:hover,
.path-mod-peerreview .userplan dd.active a:visited,
.path-mod-peerreview .userplan dd.active a:active {
    color: black;
}

.path-mod-peerreview .userplan dd.lastcol {
    border-right: 0;
}

.path-mod-peerreview .userplan dd.active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #e7f1c3;
}

.path-mod-peerreview .userplan dt .actions {
    font-size: smaller;
}

.path-mod-peerreview .userplan dd.phasetasks li {
    background-image: url([[pix:mod_peerreview|userplan/task-todo]]);
    background-position: top left;
    background-repeat: no-repeat;
    list-style-type: none;
    min-height: 16px;
    margin: .3em 0;
}

.dir-rtl.path-mod-peerreview .userplan dd.phasetasks li {
    background-position: top right;
}

.path-mod-peerreview .userplan dd.phasetasks li.completed {
    background-image: url([[pix:mod_peerreview|userplan/task-done]]);
}

.path-mod-peerreview .userplan dd.phasetasks li.fail {
    background-image: url([[pix:mod_peerreview|userplan/task-fail]]);
}

.path-mod-peerreview .userplan dd.phasetasks li.info {
    background-image: url([[pix:mod_peerreview|userplan/task-info]]);
}

.path-mod-peerreview .userplan dd.phasetasks .tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.path-mod-peerreview .userplan dd.phasetasks .title {
    padding: 0 10px 0 20px;
}

.dir-rtl.path-mod-peerreview .userplan dd.phasetasks .title {
    padding: 0 20px 0 10px;
}

.path-mod-peerreview .userplan dd.phasetasks .details {
    padding: 0 10px 0 25px;
    font-size: 80%;
}

.dir-rtl.path-mod-peerreview .userplan dd.phasetasks .details {
    padding: 0 25px 0 10px;
}

/**
 * Assessment - full display
 */
.path-mod-peerreview .assessment-full {
    border: 1px solid #ddd;
    margin: 0 auto 1em auto;
}

.path-mod-peerreview .assessment-full .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 35px;
}

.path-mod-peerreview .assessment-full .header .title {
    font-weight: bold;
    font-size: 1.640625rem;
}

.path-mod-peerreview .assessment-full .header .title,
.path-mod-peerreview .assessment-full .header .reviewer,
.path-mod-peerreview .assessment-full .header .grade,
.path-mod-peerreview .assessment-full .header .weight {
    /* margin: 0 0 0 40px; */
}

.path-mod-peerreview .assessment-full.anonymous .header .title,
.path-mod-peerreview .assessment-full.anonymous .header .reviewer,
.path-mod-peerreview .assessment-full.anonymous .header .grade,
.path-mod-peerreview .assessment-full.anonymous .header .weight {
    margin: 0 0 0 5px;
}

.path-mod-peerreview .assessment-full .header .reviewer .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}
.dir-rtl.path-mod-peerreview .assessment-full .header .reviewer .picture {
    right: 3px;
    left: auto;
}

.path-mod-peerreview .assessment-full .header .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: right;
}

.path-mod-peerreview .assessment-full .header .actions .singlebutton,
.path-mod-peerreview .assessment-full .header .actions .singlebutton form,
.path-mod-peerreview .assessment-full .header .actions .singlebutton form div {
    display: inline;
}

.path-mod-peerreview .assessment-full .assessment-form-wrapper,
.path-mod-peerreview .assessment-full .overall-feedback-wrapper {
    margin-top: 0.5em;
    padding: 0 1em;
}

.path-mod-peerreview .assessment-summary.graded .singlebutton input[type="submit"],
.path-mod-peerreview .example-summary.graded .singlebutton input[type="submit"] {
    background-color: #e7f1c3;
}

.path-mod-peerreview .assessment-summary.notgraded .singlebutton input[type="submit"],
.path-mod-peerreview .example-summary.notgraded .singlebutton input[type="submit"] {
    background-color: #ffd3d9;
}

/**
 * Overall feedback
 */
.path-mod-peerreview .assessment-full .overallfeedback .content,
.path-mod-peerreview .assessment-full .overallfeedback .attachments {
    padding: 5px 10px;
}

.path-mod-peerreview .assessment-full .overallfeedback .attachments .files img.icon {
    margin-right: 5px;
}

.path-mod-peerreview .assessment-full .overallfeedback .attachments .images div {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
}

.path-mod-peerreview .collapsibleregion.overall-feedback-wrapper .collapsibleregioncaption a {
    color: black;
    text-decoration: none;
    pointer-events: none;
}

.path-mod-peerreview .collapsibleregion.overall-feedback-wrapper .collapsibleregioncaption a:not([class]):focus {
    outline: transparent;
    background: transparent;
    box-shadow: none;
}

.path-mod-peerreview .collapsibleregion.overall-feedback-wrapper .collapsibleregioncaption img {
    display: none!important;
}

.path-mod-peerreview .collapsibleregion.overall-feedback-wrapper a:hover {
    color: black; 
    text-decoration:none!important; 
    cursor:pointer;  
}

/**
 * Assessment form
 */
.path-mod-peerreview .assessmentform .description {
    margin: 0 1em;
}

/**
 * Grading report
 */
.path-mod-peerreview .grading-report {
    width: 100%;
    margin: 1em auto 1em auto;
    font-size: 80%;
    border: 1px solid #ddd;
}

.path-mod-peerreview .grading-report .userpicture {
    margin: 0 3px;
    vertical-align: middle;
}

.path-mod-peerreview .grading-report del {
    color: red;
    font-size: 90%;
    text-decoration: line-through;
}

.path-mod-peerreview .grading-report ins {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

.path-mod-peerreview .grading-report th {
    white-space: normal;
}

.path-mod-peerreview .grading-report td {
    vertical-align: top;
    border: 1px solid #ddd;
}

.path-mod-peerreview .grading-report tr.published td.submission {
    background-color: #d2ebff;
}

.path-mod-peerreview .grading-report tr.published td.submission a {
    font-weight: bold;
}

.path-mod-peerreview .grading-report .assessmentdetails {
    white-space: nowrap;
}

.path-mod-peerreview .grading-report .receivedgrade span.grade,
.path-mod-peerreview .grading-report .givengrade span.gradinggrade {
    font-weight: bold;
}

.path-mod-peerreview .grading-report .submissiongrade.cell,
.path-mod-peerreview .grading-report .gradinggrade.cell {
    text-align: center;
    font-size: 200%;
    white-space: nowrap;
}

.path-mod-peerreview .grading-report .givengrade.null .user,
.path-mod-peerreview .grading-report .receivedgrade.null .user {
    color: #e00;
}

/**
 * Final grades
 */
.path-mod-peerreview #peerreview-viewlet-yourgrades .finalgrades {
    text-align: center;
}

.path-mod-peerreview #peerreview-viewlet-yourgrades .finalgrades .grade {
    border: 1px solid #ddd;
    margin: 1em;
    padding: 2em;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.path-mod-peerreview #peerreview-viewlet-yourgrades .finalgrades .grade.submissiongrade {
    background-color: #d2ebff;
}

.path-mod-peerreview #peerreview-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
    background-color: #eee;
    /*background-color: #e7f1c3;*/
}

.path-mod-peerreview #peerreview-viewlet-yourgrades .finalgrades .grade .gradevalue {
    font-weight: bold;
    font-size: x-large;
    margin: 10px;
}

/**
 * Edit assessment form
 */
#mod-peerreview-editform fieldset.fgroup * {
    vertical-align: top;
}

/**
 * Feedback
 */
.path-mod-peerreview .feedback {
    border: 1px solid #ddd;
    margin: 0 auto 1em auto;
    width: 100%;
}

.path-mod-peerreview .feedback .header {
    position: relative;
    background-color: #ddd;
    padding: 3px;
    min-height: 35px;
}

.path-mod-peerreview .feedback .header .title {
    margin: 0 0 0 40px;
}

.path-mod-peerreview .feedback .header .picture {
    position: absolute;
    top: 3px;
    left: 3px;
}

.path-mod-peerreview .feedback .content {
    padding: 5px 10px;
}

/**
 * Misc
 */
.path-mod-peerreview div.buttonsbar {
    text-align: center;
}

.path-mod-peerreview div.buttonsbar .singlebutton {
    display: inline;
}

.path-mod-peerreview .toolboxaction {
    margin-right: 1em;
}

.path-mod-peerreview .toolboxaction,
.path-mod-peerreview .toolboxaction .singlebutton,
.path-mod-peerreview .toolboxaction .singlebutton form,
.path-mod-peerreview .toolboxaction .singlebutton form div {
    display: inline;
}

.path-mod-peerreview div.buttonwithhelp div {
    display: inline;
}

.path-mod-peerreview #evaluationmethodchooser {
    margin: 2em auto;
    text-align: center;
}

.path-mod-peerreview .lastmodified {
    line-height: 1.0em;
}

.path-mod-peerreview .nothingfound {
    font-size: 150%;
    color: #ff4500;
}

.path-mod-peerreview .peerreview-risk-dataloss {
    vertical-align: text-bottom;
}

.path-mod-peerreview #page-navbar {
    display: none;
}

.path-mod-peerreview .assessment.activityiconcontainer.icon-size-6.modicon_peerreview {
    background-color: #20c954!important;
    width: 70px!important;
    height: 70px!important;
}

.path-mod-peerreview .page-context-header .page-header-headings h1.h2 {
    margin-top: 18px!important;
    margin-left: 10px!important;
}

@media (min-width: 768px) {
    .path-mod-peerreview .header-maxwidth {
        max-width: 1135px!important;
    }
}

#page-mod-peerreview-view.path-mod-peerreview  #region-main form button {
    background-image: url('/mod/peerreview/pix/newproject.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: black; 
    background-color: white;
    border: none; 
    height: 190px;
    width: 170px;
    display: inline-flex;
    align-items: flex-end; 
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.path-mod.path-mod-peerreview #region-main div[role="main"] > h3 {
    margin: 15px 0 25px 0;
}

.path-mod.path-mod-peerreview .submission-full {
    border: none;
}

.path-mod.path-mod-peerreview .submission-full .header {
    background: none;
}

.path-mod.path-mod-peerreview .author .picture img.userpicture {
    width: 90px;
  height: 90px;
}

.path-mod-peerreview .submission-full .header .title, .path-mod-peerreview .submission-full .header .author, .path-mod-peerreview .submission-full .header .userdate {
  margin: 0 0 0 105px;
}

.path-mod.path-mod-peerreview #region-main h3.title {
    font-size: 2.5rem;
}

.path-mod.path-mod-peerreview .submission-full .description, .path-mod.path-mod-peerreview .submission-full .content {
    margin-top: 5vw;
}

.path-mod.path-mod-peerreview #region-main div[role="main"] .assessment-full  {
    margin-top: 50px;
    min-height: 130px;
}

.path-mod.path-mod-peerreview .submission-full div.attachments ul.files {
    list-style: none;
    padding-left: 0px;
    font-size: 17px!important;
}

.path-mod.path-mod-peerreview .submission-full ul.files .icon.icon{
    width: 60px!important;
    height: 60px!important;
}

/* Adjusting "View a project" page */
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .submission-full,
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .assessment-full,
#page-mod-peerreview-assessment .submission-full,
#page-mod-peerreview-assessment .assessment-full {
    float: left;
    margin-right: 2%;
    box-sizing: border-box;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .submission-full,
#page-mod-peerreview-assessment .submission-full {
        width: 45vw;
        padding: 10px;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .assessment-full,
#page-mod-peerreview-assessment .assessment-full {
        width: 40vw;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .assessment-full,
#page-mod-peerreview-assessment .assessment-full {
    margin-right: 0;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .clearfix::after,
#page-mod-peerreview-assessment .clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* When the review grade appear */
.path-mod.path-mod-peerreview .assessment-full .header .grade {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.path-mod.path-mod-peerreview .assessment-full .header {
    padding: 10px;
    background-color: transparent!important;
}

/* Adjust BG color on various page */

.peerreview.modtype_peerreview .activityiconcontainer.assessment,
.optionicon.modicon_peerreview {
    background-color: #20c954!important;
}

/* Polishing user seen the reviews on his project */

.path-mod.path-mod-peerreview .collapsibleregioninner {
    visibility: visible!important;   
}

.path-mod.path-mod-peerreview .assessment-form-wrapper .collapsibleregioncaption  {
    display: none!important;
}
    
.path-mod.path-mod-peerreview .collapsibleregion.assessment-form-wrapper,
.path-mod.path-mod-peerreview .collapsibleregion.overall-feedback-wrapper {
    height: auto!important;
}

.path-mod.path-mod-peerreview .collapsibleregioninner h3.align-self-stretch {
    display: none;
}

/* Polish view project description page */

.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .assessment-full
.assessment-form .fcontainer div.col-md-3.col-form-label.d-flex,
#page-mod-peerreview-assessment .assessment-full 
.assessment-form .fcontainer div.col-md-3.col-form-label.d-flex{
    padding-top: 0px;
}

.path-mod.path-mod-peerreview .form-control[readonly] {
    background-color: #e9ecef6b;
}

/* Hotfixes: keep at the end */

/* User seen a Project Description Page with My review modal */
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .collapsibleregioninner h3.align-self-stretch,
#page-mod-peerreview-assessment .collapsibleregioninner h3.align-self-stretch {
    font-size: 1.4vw !important;
}
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor textarea.form-control,
#page-mod-peerreview-assessment textarea.form-control {
    height: 100px;
    max-height: 100px;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor 
.submission-full .header, #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin 
.submission-full .header {
    border: 1px solid #ddd;
    padding: 10px;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor 
.submission-full .header .picture, #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin 
.submission-full .header .picture {
    top: 11px;
    left: 13px;
}

/* Arrow action */

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor .arrow.down:after,
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .arrow.down:after {
    content: " "; /* Unicode for down arrow */
    position: absolute;
    right: 1rem;
    top: 30px;
    font-family: Arial, sans-serif;
    font-size: 67px;
    margin-left: 5px;
    width: 1.25rem;
	height: 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212121'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform 0.2s ease-in-out;
    color: #20c954;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor .arrow.up:after,
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .arrow.up:after {
    content: " "; /* Unicode for down arrow */
    position: absolute;
    right: 1rem;
    top: 30px;
    font-family: Arial, sans-serif;
    font-size: 67px;
    margin-left: 5px;
    width: 1.25rem;
	height: 1.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212121'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	transition: transform 0.2s ease-in-out;
    transform: rotate(-180deg);
    color: #20c954;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor .assessment-full  .button-group .btn,
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .assessment-full  .button-group .btn {
    display: none!important;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .assessment-full + .assessment-full .button-group .btn {
    display: none !important;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .assessment-full .button-group .btn {
    display: inline-block !important;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .assessment-full, 
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisadmin .submission-full {
    width: 100%;
}

#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .collapsibleregioninner .collapsibleregioncaption img,
#page-mod-peerreview-assessment .collapsibleregioninner .collapsibleregioncaption img {
    vertical-align: middle;
    display: none;
  }

  /* reduce  size when menu is open */
  #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor #page.show-drawer-left .submission-full,
  #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor.drawer-open-left .submission-full,
  #page-mod-peerreview-assessment #page.show-drawer-left .submission-full {
    width: 29vw; 
  }

  /* Page Editing review */

  #page-mod-peerreview-assessment .assessment-full .assessmentform h3.align-self-stretch {
    font-size: 1.4vw !important;
  }

  #page-mod-peerreview-assessment .assessment-full .assessmentform .fitem.description.accumulative {
    margin-left: 0px;
  }


  /* Mobile hotfixes */

/* fine adjust responsiveness */
   @media (max-width: 1500px) {
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .submission-full ,
    #page-mod-peerreview-assessment .submission-full {
        width: 41.5vw!important;
    }
}

@media (max-width: 1100px) {
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .submission-full ,
    #page-mod-peerreview-assessment .submission-full {
        width: 87vw!important;
    }
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor:not(.peerreviewuserisadmin) .assessment-full ,
    #page-mod-peerreview-assessment .assessment-full {
        width: 87vw!important;
    }  
}


    /* Mobile view if side menu is open */
    @media (max-width: 1500px) {
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor.drawer-open-left .submission-full,
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor.drawer-open-index--open .submission-full,
    #page-mod-peerreview-assessment.drawer-open-left .submission-full,
    #page-mod-peerreview-assessment.drawer-open-index--open .submission-full
    {
        width: calc(87vw - 285px) !important;
    }
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor.drawer-open-left .assessment-full,
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor.drawer-open-index--open .assessment-full,
    #page-mod-peerreview-assessment.drawer-open-left .assessment-full,
    #page-mod-peerreview-assessment.drawer-open-index--open .assessment-full
    {
        width: calc(87vw - 285px) !important;
    }
}



@media (max-width: 1300px) {

}


@media (max-width: 768px) {
    #page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserisnotsubmissionauthor .submission-full ,
    #page-mod-peerreview-assessment .submission-full{
        width: 92vw!important;
    }
}


/* Fix view project page when user is coauthor */

#page-mod-peerreview-assessment.peerreviewuserissubmissioncoauthor .assessment-full {
    display: none;
}

/* Remove activity-navigation from Peer review */

#page-mod-peerreview-submission .activity-navigation.container-fluid,
#page-mod-peerreview-assessment .activity-navigation.container-fluid,
#page-mod-peerreview-view .activity-navigation.container-fluid
 {
    display: none;
}

/* Remove a few borders to improve UI */

.collapsibleregion.assessment-form-wrapper {
    border: none;
}

.path-mod.path-mod-peerreview .assessment-full .header {
    border: none;
}

/* De-style the Overall Feedback divs */
.path-mod-peerreview .assessment-full .overall-feedback-wrapper {
    padding: 0px;
    border: none;
}

.path-mod-peerreview .assessment-full .collapsibleregioncaption a {
    border-bottom: none;
    background-image: none;
}


/* Remove anon. switch from My Project page (reviews list) */
#page-mod-peerreview-submission.peerreviewsubmissionpage.peerreviewuserissubmissionauthor div.form-check:has(#id_anonymousreview) {
    display: none!important;
}

/* Hide "Overall feedback" format options */
#page-mod-peerreview-assessment #menufeedbackauthor_editorformat {
    display: none;
}

/* Hide Peer review update activity icon */
body.path-mod.path-mod-peerreview #page-header .page-header-image {
    display: none;
}

/* Remove extra items from admin view when viewing a project, plus general fix adm view*/

#page-mod-peerreview-assessment #id_assessmentsettings #fitem_id_weight, #page-mod-peerreview-assessment #id_assessmentsettings h3{
    display: none!important;
}

#page-mod-peerreview-submission.peerreviewuserisadmin #region-main .box.py-3.mr-1.inline {
    display: none!important;
}

#page-mod-peerreview-submission.peerreviewuserisadmin #region-main submission-full,
#page-mod-peerreview-submission.peerreviewuserisadmin #region-main assessment-full {
    width: 100%!important;
}